# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Environment files
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Git and editor files
.git
.gitignore
.vscode
.idea

# Docker
Dockerfile
docker-compose.yml

# Optional: if you use uploads or tmp storage
uploads
tmp
